p, li, label {
  font-size: 16px;
}

input, button {
  font-size: 15px;
}

button {
  background-color: #27272a;
  border: 0px;
  border-radius: 8px;
  color: #fff;
  display: inline-block;
  padding: 8px 16px;
  text-decoration: none;
}

button:hover {
  background-color: #3f3f46;
  cursor: pointer;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 100vh;
  justify-content: center;
  gap: 36px;
}

.list-container {
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-items: center;
  margin: 4px 0 18px;
}

.text {
  color: #a3a3a3;
  padding: 0 0 12px 0;
}

.card {
  background-color: #fff;
  border-radius: 18px;
  padding: 36px 42px;
  width: 500px;
}

.card h2 {
  font-size: 34px;
  margin-top: 0;
  margin-bottom: 12px;
}

.card input {
  border: 1px solid #e7e5e4;
  border-radius: 8px;
  box-sizing: border-box;
  flex-grow: 1;
  padding: 12px 14px;
}

ul {
  list-style-type: none;
  margin-bottom: 0;
  max-height: 55vh;
  min-height: 200px;
  padding: 0;
  overflow: scroll;
}

ul::-webkit-scrollbar {
  display: none;
}