.menu {
  background-color: #fff;
  width: 310px;
  border-radius: 18px;
  padding: 36px 42px;
  display: flex;
  flex-direction: column;
  line-height: 24px;
}

.menu button {
  margin-top: 16px;
}

.menu h2 {
  font-size: 22px;
  margin-bottom: 12px;
}

.menu input {
  flex-grow: 1;
  padding: 8px 12px;
  border: 1px solid #e7e5e4;
  border-radius: 8px;
  box-sizing: border-box;
}

.menu-row {
  display: flex;
  align-items: center;
  gap: 15px;
}