* {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  background-color: #f4f4f5;
  color: #020617;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.display-1 {
  font-size: 50px;
}

p {
  font-size: 20px;
}

a {
  text-decoration: none;
  color: #020617;
}

.nav {
  position: absolute;
  padding: 26px;
  right: 0;
  bottom: 0;
}

.end {
  margin-bottom: 250px;
}