* {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  background-color: #f4f4f5;
  color: #27272a;
}

.text {
  color: #a3a3a3;
  padding: 0 0 10px 0;
}

.test {
  display: flex;
  flex-direction: row;
  justify-items: center;
  gap: 15px;
  margin: 12px 0 18px;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 36px;
}

.display-1 {
  font-size: 50px;
}

.display-3 {
  font-size: 36px;
}

.display-4 {
  font-size: 18px;
}

p {
  font-size: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 0;
}

li {
  padding-bottom: 8px;
}

button {
  border: 0px;
  display: inline-block;
  background-color: #27272a;
  color: #fff;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 8px;
}

button:hover {
  background-color: #3f3f46;
  cursor: pointer;
}

.card-sm button {
  margin-top: 16px;
}

.end {
  margin-bottom: 100px;
}

/* ===================== */

.card {
  background-color: #fff;
  width: 500px;
  border-radius: 18px;
  padding: 36px 42px;
}

.card-sm {
  background-color: #fff;
  width: 310px;
  border-radius: 18px;
  padding: 36px 42px;
  display: flex;
  line-height: 24px;
}

.card h2 {
  margin-top: 0;
  margin-bottom: 12px;
  font-size: 34px;
}

.card-sm h2 {
  font-size: 22px;
  margin-bottom: 12px;
}

.card input {
  flex-grow: 1;
  padding: 12px 14px;
  border: 1px solid #e7e5e4;
  border-radius: 8px;
  box-sizing: border-box;
}

.card-sm input {
  flex-grow: 1;
  padding: 8px 12px;
  border: 1px solid #e7e5e4;
  border-radius: 8px;
  box-sizing: border-box;
}

.card input .small {
  padding: 8px;
  margin: 12px 0;
  border: 1px solid #27272a;
  border-radius: 4px;
  box-sizing: border-box;
}

.row {
  display: flex;
  align-items: center;
  gap: 15px;
}

#blockedList {
  max-height: 55vh;
  min-height: 200px;
  overflow: scroll;
}

#blockedList::-webkit-scrollbar {
  display: none;
}

#blockedList li {
  border: 1px solid #f5f5f5;
  border-radius: 8px;
  padding: 12px 14px;
  margin: 0 0 10px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  cursor: pointer;
}

#blockedList li:hover {
  background-color: #fafafa; /* Hover background color */
}

/* Define the selected class */
#blockedList li.selected {
  background-color: #fafafa; /* Selected background color */
}

#blockedList li img {
  border: 1px solid #f5f5f5;
  border-radius: 8px;
  padding: 8px 10px;
}

.container p, .container li, .container label {
  font-size: 16px;
}

.container input, .container button {
  font-size: 15px;
}
