* {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  background-color: #f4f4f5;
  color: #27272a;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 22px;
}

.display-1 {
  font-size: 50px;
}

.display-3 {
  font-size: 36px;
}

.display-4 {
  font-size: 18px;
}

p {
  font-size: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 0;
}

li {
  padding-bottom: 8px;
}

.end {
  margin-bottom: 100px;
}

/* ===================== */

.card {
  background-color: #fff;
    width: 400px;
    border-radius: 6px;
    padding: 22px;
}

.card h2 {
  margin-top: 0;
  margin-bottom: 12px;
  font-size: 22px;
}

.card input {
  width: calc(100% - 12px);
  padding: 8px;
  margin: 12px 0;
  border: 1px solid #27272a;
  border-radius: 4px;
  box-sizing: border-box;
}

.card input .small {
  padding: 8px;
  margin: 12px 0;
  border: 1px solid #27272a;
  border-radius: 4px;
  box-sizing: border-box;
}

.row {
  display: flex;
  align-items: center;
  gap: 15px;
}

.card button {
  display: inline-block;
  background-color: #27272a;
  color: #fff;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 4px;
  border: 0;
}

.card button:hover {
  background-color: #3f3f46;
  cursor: pointer;
}

.container p, .container li, .container label {
  font-size: 16px;
}

.container input, .container button {
  font-size: 15px;
}
